---
title: Aaron G. Miller
---


<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}
    </title>
    <link rel="icon" type="image/png" href="images/logo.png">
    <link rel='stylesheet' href='./style.css'>
  </head>

  <body>
    <header>
      <a href="/">
        <h1>
          <span id="uppercase">Aaron G. Miller</span>
          | Choreographer</h1>
      </a>
      <nav id="mainnav">
        <button id="hamburger" class="closed">
          <span class="line-1"></span>
          <span class="line-3"></span>
        </button>
        <ul>
          <li><a href="#workshops">Workshops</a></li>
          <li><a href="#about">About Me</a></li>
          <li><a href="#news">News</a></li>
        </ul>
      </nav>
      <div class="box">
        <div id="maintitle">
          <h2>I believe you can dance.</h2>
          <a href="#" class="button">Book Workshop</a>
        </div>
      </div>
    </header>

    {{ content }}

    <footer>
      <div id="footer_left">
        <h3>Thank you for your interest in Art!</h3>
        <p>© 2004 – 2023 Aaron G. Miller</p>
      </div>
      <div id="footer_right">
        <a href="#">Imprint & Privacy</a>
      </div>



      <ul>
        <!-- <li><a
        href="https://commons.wikimedia.org/wiki/File:DANCE_-_Grupo_de_Rua,_%22Inoah,%22_at_Brooklyn_Academy_of_Music_(49020288773).jpg">zum
        Header-Bild</a> </li>
        <li> <a href="https://commons.wikimedia.org/wiki/File:Cheng_Tsung_Lung.jpg">zum About-Me-Bild</a>
        </li>
        <li> <a
        href="https://commons.wikimedia.org/wiki/File:Meredith_Monk_-_On_Behalf_of_Nature_-_Brooklyn_Academy_of_Music_(15822608589).jpg">zum
        Bild Artikel 1</a>
        </li>
        <li> <a
        href="https://commons.wikimedia.org/wiki/File:DANCE_-_Grupo_de_Rua,_%22Inoah,%22_at_Brooklyn_Academy_of_Music_(49021032627).jpg">zum
        Bild Artikel 2</a>
        </li>
        <li> <a
        href="https://commons.wikimedia.org/wiki/File:Meredith_Monk_-_On_Behalf_of_Nature_-_Brooklyn_Academy_of_Music_(15989693711).jpg">zum
        Bild Artikel 3</a>
        </li>
        <li> <a href="https://www.flaticon.com/free-icon/yoga_2043795">zum Yogabild 1 (Workshop)</a>
        </li>
        <li> <a href="https://www.flaticon.com/free-icon/yoga_2043787">zum Yogabild 2 (Workshop)</a>
        </li>
        <li> <a href="https://www.flaticon.com/free-icon/yoga_2043799">zum Yogabild 3 (Workshop)</a>
        </li> -->

      </ul>

      {{year}}
    </footer>
    <script src='main.js'></script>
  </body>

</html>>>